[submodule "vendor/SDL-3.2.20"]
	path = vendor/SDL-3.2.20
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/imgui-1.92.2b-docking"]
	path = vendor/imgui-1.92.2b-docking
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/GLM-1.0.1"]
	path = vendor/GLM-1.0.1
	url = https://github.com/g-truc/glm.git
[submodule "vendor/doctest"]
	path = vendor/doctest
	url = https://github.com/doctest/doctest.git
[submodule "vendor/vk-bootstrap-v1.4.325"]
	path = vendor/vk-bootstrap-v1.4.325
	url = https://github.com/charles-lunarg/vk-bootstrap
